In [17]:
import pandas as pd
import numpy as np
import zipfile
import os

In [3]:
df = pd.read_csv('C:\\Users\\PASSNOWNOW\\Documents\\Salaries.csv')

C:\Users\PASSNOWNOW\AppData\Local\Temp\ipykernel_12404\41800081.py:1: DtypeWarning: Columns (3,4,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('C:\\Users\\PASSNOWNOW\\Documents\\Salaries.csv')

In [4]:
df.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [12]:
def get_employee_details(employee_name):
    """Get employee details by name."""
    try:
        employee_data = df[df['EmployeeName'] == employee_name]
        if employee_data.empty:
            raise ValueError(f"Error: Employee '{employee_name}' not found.")
        return employee_data
    except ValueError as ve:
        return str(ve)
    except Exception as e:
        return f"An unexpected error occurred: {str(e)}"

In [5]:
# Step 2: Create Employee Function
def get_employee_details(employee_name):
    try:
        employee_data = df[df['EmployeeName'] == employee_name]
        if employee_data.empty:
            raise ValueError("Employee not found.")
        return employee_data
    except Exception as e:
        return str(e)

# Example usage
print(get_employee_details("NATHANIEL FORD"))

   Id    EmployeeName                                        JobTitle  \
0   1  NATHANIEL FORD  GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY

     BasePay OvertimePay   OtherPay Benefits   TotalPay  TotalPayBenefits  \
0  167411.18         0.0  400184.25      NaN  567595.43         567595.43

   Year  Notes         Agency Status
0  2011    NaN  San Francisco    NaN

In [6]:
# Step 3: Data Processing with Dictionary
employee_dict = df.set_index('EmployeeName').T.to_dict()

C:\Users\PASSNOWNOW\AppData\Local\Temp\ipykernel_12404\1070416029.py:2: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  employee_dict = df.set_index('EmployeeName').T.to_dict()

In [18]:
# Check for error message
def export_employee_to_csv(employee_name):
    employee_data = get_employee_details(employee_name)
    if isinstance(employee_data, str):  
        print(employee_data)
        return
    
    # Save to CSV
    filename = f"{employee_name.replace(' ', '_')}.csv"
    employee_data.to_csv(filename, index=False)
    
    # Create zipped folder
    zip_filename = 'Employee_Profile.zip'
    with zipfile.ZipFile(zip_filename, 'w') as zipf:
        zipf.write(filename)
    
    # Clean up the CSV file
    os.remove(filename)

# Example usage
export_employee_to_csv("NATHANIEL FORD")